<?xml version="1.0"?>

<!-- Window -->
<window>
  <width>800</width>
  <height>600</height>
</window>

<!-- GUI plugins -->
<plugin filename="MinimalScene" name="3D View">
  <ignition-gui>
    <title>3D View</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property>
  </ignition-gui>
  <engine>ogre2</engine>
  <scene>scene</scene>
  <ambient_light>0.4 0.4 0.4</ambient_light>
  <background_color>0.1875 0.1875 0.1875</background_color>
  <camera_pose>-6 0 6 0 0.5 0</camera_pose>
  <graphics_api>metal</graphics_api>
</plugin>